<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.ep.mapper.EpCourseMapper" >
  <resultMap id="BaseResultMap" type="cn.ep.bean.EpCourse" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="course_name" property="courseName" jdbcType="VARCHAR" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="status" property="status" jdbcType="INTEGER" />
    <result column="free" property="free" jdbcType="INTEGER" />
    <result column="goal" property="goal" jdbcType="VARCHAR" />
    <result column="overview" property="overview" jdbcType="VARCHAR" />
    <result column="open_time" property="openTime" jdbcType="TIMESTAMP" />
    <result column="kind_id" property="kindId" jdbcType="BIGINT" />
    <result column="user_id" property="userId" jdbcType="BIGINT" />
    <result column="price" property="price" jdbcType="DOUBLE" />
    <result column="watch_count" property="watchCount" jdbcType="INTEGER" />
    <result column="picture_url" property="pictureUrl" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, course_name, update_time, create_time, `status`, free, goal, overview, open_time,
    kind_id, user_id, price, watch_count, picture_url
  </sql>
  <select id="selectByTop" resultMap="BaseResultMap" parameterType="cn.ep.bean.EpCourseExample">
    select
    <include refid="Base_Column_List" />
    from ep_course
    where `status`=#{status} and `free`=#{free}
    ORDER BY -watch_count * 200 + (DAY(NOW())-DAY(create_time)) * 86400 limit #{top}
  </select>
  <select id="selectByKey" resultMap="BaseResultMap" parameterType="cn.ep.bean.EpCourseExample" >
    select
    <include refid="Base_Column_List" />
    from ep_course
    where MATCH (course_name,goal,overview)
    AGAINST (#{keyString}) and `status`=#{status}
  </select>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="cn.ep.bean.EpCourseExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from ep_course
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from ep_course
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from ep_course
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="cn.ep.bean.EpCourseExample" >
    delete from ep_course
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="cn.ep.bean.EpCourse" >
    insert into ep_course (id, course_name, update_time, 
      create_time, status, free, 
      goal, overview, open_time, 
      kind_id, user_id, price, 
      watch_count, picture_url)
    values (#{id,jdbcType=BIGINT}, #{courseName,jdbcType=VARCHAR}, #{updateTime,jdbcType=TIMESTAMP}, 
      #{createTime,jdbcType=TIMESTAMP}, #{status,jdbcType=INTEGER}, #{free,jdbcType=INTEGER}, 
      #{goal,jdbcType=VARCHAR}, #{overview,jdbcType=VARCHAR}, #{openTime,jdbcType=TIMESTAMP}, 
      #{kindId,jdbcType=BIGINT}, #{userId,jdbcType=BIGINT}, #{price,jdbcType=DOUBLE}, 
      #{watchCount,jdbcType=INTEGER}, #{pictureUrl,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="cn.ep.bean.EpCourse" >
    insert into ep_course
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="courseName != null" >
        course_name,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="free != null" >
        free,
      </if>
      <if test="goal != null" >
        goal,
      </if>
      <if test="overview != null" >
        overview,
      </if>
      <if test="openTime != null" >
        open_time,
      </if>
      <if test="kindId != null" >
        kind_id,
      </if>
      <if test="userId != null" >
        user_id,
      </if>
      <if test="price != null" >
        price,
      </if>
      <if test="watchCount != null" >
        watch_count,
      </if>
      <if test="pictureUrl != null" >
        picture_url,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="courseName != null" >
        #{courseName,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null" >
        #{status,jdbcType=INTEGER},
      </if>
      <if test="free != null" >
        #{free,jdbcType=INTEGER},
      </if>
      <if test="goal != null" >
        #{goal,jdbcType=VARCHAR},
      </if>
      <if test="overview != null" >
        #{overview,jdbcType=VARCHAR},
      </if>
      <if test="openTime != null" >
        #{openTime,jdbcType=TIMESTAMP},
      </if>
      <if test="kindId != null" >
        #{kindId,jdbcType=BIGINT},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=BIGINT},
      </if>
      <if test="price != null" >
        #{price,jdbcType=DOUBLE},
      </if>
      <if test="watchCount != null" >
        #{watchCount,jdbcType=INTEGER},
      </if>
      <if test="pictureUrl != null" >
        #{pictureUrl,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="cn.ep.bean.EpCourseExample" resultType="java.lang.Integer" >
    select count(*) from ep_course
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update ep_course
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.courseName != null" >
        course_name = #{record.courseName,jdbcType=VARCHAR},
      </if>
      <if test="record.updateTime != null" >
        update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.createTime != null" >
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.status != null" >
        status = #{record.status,jdbcType=INTEGER},
      </if>
      <if test="record.free != null" >
        free = #{record.free,jdbcType=INTEGER},
      </if>
      <if test="record.goal != null" >
        goal = #{record.goal,jdbcType=VARCHAR},
      </if>
      <if test="record.overview != null" >
        overview = #{record.overview,jdbcType=VARCHAR},
      </if>
      <if test="record.openTime != null" >
        open_time = #{record.openTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.kindId != null" >
        kind_id = #{record.kindId,jdbcType=BIGINT},
      </if>
      <if test="record.userId != null" >
        user_id = #{record.userId,jdbcType=BIGINT},
      </if>
      <if test="record.price != null" >
        price = #{record.price,jdbcType=DOUBLE},
      </if>
      <if test="record.watchCount != null" >
        watch_count = #{record.watchCount,jdbcType=INTEGER},
      </if>
      <if test="record.pictureUrl != null" >
        picture_url = #{record.pictureUrl,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update ep_course
    set id = #{record.id,jdbcType=BIGINT},
      course_name = #{record.courseName,jdbcType=VARCHAR},
      update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      create_time = #{record.createTime,jdbcType=TIMESTAMP},
      status = #{record.status,jdbcType=INTEGER},
      free = #{record.free,jdbcType=INTEGER},
      goal = #{record.goal,jdbcType=VARCHAR},
      overview = #{record.overview,jdbcType=VARCHAR},
      open_time = #{record.openTime,jdbcType=TIMESTAMP},
      kind_id = #{record.kindId,jdbcType=BIGINT},
      user_id = #{record.userId,jdbcType=BIGINT},
      price = #{record.price,jdbcType=DOUBLE},
      watch_count = #{record.watchCount,jdbcType=INTEGER},
      picture_url = #{record.pictureUrl,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="cn.ep.bean.EpCourse" >
    update ep_course
    <set >
      <if test="courseName != null" >
        course_name = #{courseName,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="free != null" >
        free = #{free,jdbcType=INTEGER},
      </if>
      <if test="goal != null" >
        goal = #{goal,jdbcType=VARCHAR},
      </if>
      <if test="overview != null" >
        overview = #{overview,jdbcType=VARCHAR},
      </if>
      <if test="openTime != null" >
        open_time = #{openTime,jdbcType=TIMESTAMP},
      </if>
      <if test="kindId != null" >
        kind_id = #{kindId,jdbcType=BIGINT},
      </if>
      <if test="userId != null" >
        user_id = #{userId,jdbcType=BIGINT},
      </if>
      <if test="price != null" >
        price = #{price,jdbcType=DOUBLE},
      </if>
      <if test="watchCount != null" >
        watch_count = #{watchCount,jdbcType=INTEGER},
      </if>
      <if test="pictureUrl != null" >
        picture_url = #{pictureUrl,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.ep.bean.EpCourse" >
    update ep_course
    set course_name = #{courseName,jdbcType=VARCHAR},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      status = #{status,jdbcType=INTEGER},
      free = #{free,jdbcType=INTEGER},
      goal = #{goal,jdbcType=VARCHAR},
      overview = #{overview,jdbcType=VARCHAR},
      open_time = #{openTime,jdbcType=TIMESTAMP},
      kind_id = #{kindId,jdbcType=BIGINT},
      user_id = #{userId,jdbcType=BIGINT},
      price = #{price,jdbcType=DOUBLE},
      watch_count = #{watchCount,jdbcType=INTEGER},
      picture_url = #{pictureUrl,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>